
report/app.js
report/data/behaviors.csv
report/data/behaviors.json
report/data/categories.csv
report/data/categories.json
report/data/packages.json
report/data/suites.csv
report/data/suites.json
report/data/timeline.json
report/export/influxDbData.txt
report/export/mail.html
report/export/prometheusData.txt
report/favicon.ico
report/history/categories-trend.json
report/history/duration-trend.json
report/history/history-trend.json
report/history/history.json
report/history/retry-trend.json
report/index.html
report/plugin/behaviors/index.js
report/plugin/packages/index.js
report/plugin/screen-diff/index.js
report/plugin/screen-diff/styles.css
report/styles.css
report/widgets/behaviors.json
report/widgets/categories-trend.json
report/widgets/categories.json
report/widgets/duration-trend.json
report/widgets/duration.json
report/widgets/environment.json
report/widgets/executors.json
report/widgets/history-trend.json
report/widgets/launch.json
report/widgets/retry-trend.json
report/widgets/severity.json
report/widgets/status-chart.json
report/widgets/suites.json
report/widgets/summary.json
/temps
/allure
/report
/temp
/venv
